body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f1f1f1;
}

.nav {
    display: flex;
}

.nav-link {
    margin-left: 10px;
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    border-radius: 5px;
}

.nav-link:hover {
    background-color: #ddd;
}

.main-content {
    padding: 20px;
    background-color: #136D47;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 110px); 
}

.form-container {
    max-width: 600px;
    width: 100%;
    background-color: #136D47;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #fff;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #ccc;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #8b8a8a;
}

.footer {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: #f1f1f1;
}

.footer-link {
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    border-radius: 5px;
}

.footer-link:hover {
    background-color: #ddd;
}
