.main-content {
    padding: 20px;
    background-color: #136D47;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 110px);
    opacity: .73;
}

.form-container {
    max-width: 600px;
    width: 100%;
    background-color: #136D47;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #fff;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #ccc;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #8b8a8a;
}